.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  aside {
    float: left;
  }
  
  main {
    float: left;
  }
 
  
  items {
    float: left;
  }

  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
  
 